* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: 'Poppins';
}
p {
  font-family: 'nunito';
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
header ul li a,
main #content a,
footer nav ul li a {
  color: black;
  text-decoration: none;
  font-family: 'nunito';
}
body {
  background-color: rgb(233, 238, 245);
}

header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 0.5rem black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.burger {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
.burger:hover {
  background-color: #e2f4ff;
}
header nav ul li {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
header nav ul li:hover {
  background-color: #e2f4ff;
}

main {
  display: flex;
}
main #content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
main #content article {
  padding: 1rem;
  background-color: #fff;
}
main #content article h2 {
  margin-bottom: 1.5rem;
}
main #content #about-me p {
  margin-bottom: 0.75rem;
  text-indent: 1.5em;
}
main #content #about-me .about-me-content {
  display: flex;
  gap: 1rem;
}
main #content #about-me .about-me-content img {
  height: 200px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 0 auto;
}
main #content #skills h2 {
  text-align: center;
}
main #content #skills .image-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
main #content #skills .image-container img {
  height: 150px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
main #content #skills .image-container img:hover {
  translate: 0 -0.5rem;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
main #content #projects h2 {
  text-align: center;
}
main #content #projects .card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #content #projects .card-container .card {
  max-width: 355px;
  text-align: center;
  border: solid 1px rgb(221, 221, 221);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
main #content #projects .card-container .card:hover {
  background-color: #e2f4ff;
  scale: 1.03;
  transition: all 100ms ease-in-out;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
}
main #content #projects .card-container .card img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-border-radius: 0.5rem 0.5rem 0 0;
  -moz-border-radius: 0.5rem 0.5rem 0 0;
  -ms-border-radius: 0.5rem 0.5rem 0 0;
  -o-border-radius: 0.5rem 0.5rem 0 0;
}
main #content #projects .card-container .card h3 {
  margin-top: 0.25rem;
}
main #content #projects .card-container .card p {
  color: #61666b;
  margin: 0 1rem 1rem 1rem;
}

main aside {
  width: 100%;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
main aside img {
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
main aside .author-data {
  margin: 0.5rem 0;
}
aside .author-data a {
  justify-content: center;
}
.author-data img {
  height: 20px;
}
.author-data a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: 'nunito';
}

footer {
  background-color: #151f2c;
  color: white;
  padding: 2rem;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
footer a,
footer nav ul li a {
  color: rgb(201, 201, 201);
}
footer nav ul {
  display: block;
}

footer p:last-child {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (width <= 768px) {
  header nav {
    display: none;
    position: absolute;
    border: rgb(221, 221, 221) 1px solid;
  }
  header nav ul {
    flex-direction: column;
  }
  main {
    flex-wrap: wrap;
  }
  main #content #about-me .about-me-content {
    flex-wrap: wrap;
    text-align: center;
  }
  main #content #about-me h2 {
    text-align: center;
  }
  footer .footer-content {
    flex-direction: column;
  }
  .burger {
    display: block;
  }
}
.nav-mobile {
  display: block;
  top: 100px;
  right: 25px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
